<form id="contact_form" method="post">
  <%= csrf_tag %>
  <div class="columns is-centered">
    <div class="column is-4">
      <% if @sent %>
        <div class="notification is-success">
          <%= t.contact_form.message_was_sent %>
        </div>
      <% end %>

      <div class="field" id="contact_form_name">
        <label class="label"><%= t.contact_form.name %></label>
        <div class="control has-icons-left has-icons-right">
          <input class="input is-danger" type="text" placeholder="<%= t.contact_form.name %>" name="contact[name]">
          <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-exclamation-triangle"></i>
          </span>
        </div>
        <p class="help is-danger"><%= t.contact_form.please_enter_name %></p>
      </div>

      <div class="notification is-info">
        <%= t.contact_form.enter_name_or_phone %>
      </div>

      <div class="field" id="contact_form_email">
        <label class="label"><%= t.contact_form.email %></label>
        <div class="control has-icons-left has-icons-right">
          <input class="input is-danger" type="email" placeholder="<%= t.contact_form.email %>" name="contact[email]">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-exclamation-triangle"></i>
          </span>
        </div>
        <p class="help is-danger"><%= t.contact_form.please_enter_email %></p>
      </div>

      <div class="field" id="contact_form_phone">
        <label class="label"><%= t.contact_form.phone %></label>
        <div class="control has-icons-left has-icons-right">
          <input class="input is-danger" type="tel" name="contact[phone]" pattern="^([+]?359)|0?(|-| )8[789]\d{1}(|-| )\d{3}(|-| )\d{3}$" placeholder="<%= t.contact_form.phone %>">
          <span class="icon is-small is-left">
            <i class="fas fa-phone"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-exclamation-triangle"></i>
          </span>
        </div>
        <p class="help is-danger"><%= t.contact_form.please_enter_phone %></p>
      </div>

      <div class="field" id="contact_form_message">
        <label class="label"><%= t.contact_form.message %></label>
        <div class="control">
          <textarea class="textarea is-danger" placeholder="<%= t.contact_form.message %>" name="contact[message]"></textarea>
        </div>
        <p class="help is-danger"><%= t.contact_form.please_enter_message %></p>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link"><%= t.contact_form.submit %></button>
        </div>
      </div>
    </div>
  </div>
</form>

<%= assets([:js, :contact_form]) %>

<script type="text/javascript">
  toggle_form_alerts(false);
</script>
