<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <%= assets(:css) %>
  </head>
  <body>
    <section class="hero is-fullheight">
      <!-- Hero head: will stick at the top -->
      <img class="hero-background" src="/assets/images/bookshelf/1.jpg" />
      <div class="hero-head">
        <div class="columns is-centered">
          <div class="column is-half">
            <nav class="navbar transparent-bg" role="navigation" aria-label="main navigation">
              <div class="navbar-brand">
                <a class="navbar-logo navbar-item" href="/">
                  <img src="/assets/images/logo_en.png" />
                </a>
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar-main">
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                </a>
              </div>
              <div class="navbar-menu" id="navbar-main">
                <div class="navbar-end">
                  <a class="navbar-item" href="/portfolio"><%= t.menu.portfolio %></a>
                  <a class="navbar-item" href="/kurpel"><%= t.menu.kurpel %></a>
                  <a class="navbar-item" href="/contacts"><%= t.menu.contacts %></a>
                  <a class="navbar-item" href="https://www.facebook.com/kurpelwoodworks/" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                  <a class="navbar-item">
                    <div class="ec-cart-widget"></div>
                    <div>
                      <script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?39852269&data_platform=code&data_date=2020-11-03" charset="utf-8"></script>
                    <script type="text/javascript">Ecwid.init();</script>
                    </div> 
                  </a>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
      <!-- Hero content: will be in the middle -->
      <div class="hero-body">
        <div class="container has-text-left">
          <h1 class="title has-text-white">
            Handmande furniture
          </h1>
          <h2 class="subtitle has-text-white">
            for every home
          </h2>
        </div>
      </div>
    </section>

    <%= yield %>
    <%= assets([:js, :layout]) %>

  </body>
</html>
