<div class="columns is-centered">
  <div class="column is-4">
    <% if @new_record %>
      <div class="notification is-success">
        Записаът е добавен успешно.
      </div>
    <% end %>

    <% form(@record, {}, {config: :bulma, errors: @errors}) do |f| %>
      <%= f.input(:name, placeholder: "Име на записа") %>
      <%= f.input(:tags, type: :text, placeholder: "Изберете име на таг-а и добавете с enter", value: "") %>

      <input id="hidden_record_tags" type="hidden" name="record[_tags]" value="<%= @hidden_record_tags %>"/>

      <div class="field">
        <div class="control" id="record_tags_group">
          <% @record_tags.each do |tag| %>
            <span class="tag is-info">
              <%= tag %>
              <button class="delete is-small delete_record_tag"></button>
            </span>

          <% end %>
        </div>
      </div>

      <%= f.input(:description, type: :textarea, rows: 5, cols: 50, placeholder: "Описание на записа") %>

      <%= f.button(value: 'Запиши', class: 'is-success') %>
    <% end %>
</div>

<%= assets([:js, :record, :tags]) %>

<script type="text/javascript">
</script>
