<div class="columns is-centered">
  <div class="column is-4">
    <% if @new_record %>
      <div class="notification is-success">
        Записаът е добавен успешно.
      </div>
    <% end %>

    <% form(@record, {}, {config: :bulma, errors: @errors}) do |f| %>
      <%= f.input(:name) %>
      <%= f.input(:tags, type: :text, class: ["tags"]) %>

      <div class="field">
        <div class="control">
          <span class="tag is-info">
            дърводелец
            <button class="delete is-small"></button>
          </span>
        </div>
      </div>

      <%= f.input(:description, type: :textarea, rows: 5, cols: 50) %>

      <%= f.button(value: 'Запиши', class: 'is-success') %>
    <% end %>
</div>

<%= assets([:js, :record, :tags]) %>

<script type="text/javascript">
</script>
